body{
	background-color: #f9fcfc;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	/*line-height: 30px;*/
	letter-spacing: 0.03em;
	font-size: 16px;

}

h1{
	font-family: 'Prata', serif;
	font-size: 32px;
}

h2{
	font-family: 'Prata', serif;
	border-top: 1px solid #eec643;
	border-bottom: 1px solid #eec643;
	font-size: 30px;
}

h3{
		font-family: 'PT Sans', sans-serif;
		font-size: 18px;
		/*font-weight: 500;*/
}


a{
	text-decoration: none;
}

img{
	width: 100%;
	height: auto;
}



.section__wrapper{
	margin: 0 auto;
	padding: 0 16px;
	display: flex;
	flex-direction: column;
	min-width: 320px;
	max-width:640px;
	width: 100%;
}

.header__menu{
	display: none;
}

.header__logo{
	width: 64px;
	padding-top: 24px;
}

.promo{
	background-image: url(../img/bg_main_320.png);
	background-size: cover;
	/*width: 320px;*/

}

.promo__wrapper{
	
}

.section__headline h2{
	width: 80%;
	padding: 12px 11px;
}

.promo__headline{
	padding: 94px 0px;
	color: #ffffff;
}

.promo__headline p:after{
	content:' получать удовольствие от музыки и не бояться сцены';
}


.trial{
	/*padding:20px;*/
	width:100%;
	height: 60px;
	background-color: #eec643;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;`
}

.trial a{
	margin: 0 auto;
	
}

.footer__trial{
	width: 100%;
	height: 60px;
	background-color: #eec643;
	text-align: center;
	margin: 20px 0px;
	
}

.promo__trial_button a{
	text-transform: uppercase;
}

.promo__trial_form{
	display: none;
}

.classes__lections{
	display: none;
}

.classes__wrapper{
	
}

.classes__list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	/*position: relative;*/
}

.classes__item{
	color: #fff;
	padding-top: 35px;
	padding-left: 16px;
	margin: 16px 0;
	height: 144px;
	overflow: hidden;
}

.classes__guitar{
	background-image: url(../img/directions_guitar_img_1.png);
	background-size: cover;

}

.classes__guitar span{
	display: none;
}

.classes__vocal{
	background-image: url(../img/directions_vocal_img_2.png);
	background-size: cover;

}

.classes__piano{
	background-image: url(../img/directions_ftpiano_img_3.png);
	background-size: cover;
}

.classes__all-classes{
	padding: 5px;

}

.classes__all-classes a{
	position: absolute;
	transform: rotate(-90deg);
	right: -20px;
	bottom: 80px;
	margin: 0;
	text-transform: uppercase;
	font-size: 16px;
	background-color: #eec643;
	padding: 15px;

}

.classes__container{
	width: 100%;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
}

.about__trial_button{
	position: relative;
}

.about__trial_button a{
	position: absolute;
	transform: rotate(-90deg);
	left: 220px;
	bottom: 10px;
}

.about__item{
	color: #fff;
	padding-top: 35px;
	padding-left: 16px;
	margin: 16px 0;
	height: 144px;
	overflow: hidden;
}

.about__copmposition{
	background-image: url(../img/advantages_card_img_1.png);
	-webkit-background-size: cover;
	background-size: cover;
}

.about__result{
	background-image: url(../img/advantages_card_img_2.png);
	-webkit-background-size: cover;
	background-size: cover;
}

.about__studio{
	background-image: url(../img/advantages_card_img_3.png);
	-webkit-background-size: cover;
	background-size: cover;
}

.col100{
	width: 100%;
	/*height: 144px;*/
}

.col80{
	width: 80%;
}

.vids__lg{
	width: 240px;
	padding: 17px 24px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

.vids__sm{
	display: none;
}

.footer__map{
	width: 288px;
 	height: 216px;

}

.footer__logo{
	display: none;
}

footer{
	display: none;
}

 .footer__menu{

 }



/*@media (min-width: 640px){

}*/

@media (min-width: 1280px){
.header-menu{
	display: flex;
}

	.logo-container{
		font-size: 50px;
	}

	h1{
	text-transform: lowercase;
	font-size: 48px;.
	}

	h1:before{
		content: 'Diez -';
		text-transform: capitalize;
	}
	.promo_headline{
		width: 50%;
	}
	.promo_headline p{
		width: 500px;
		font-size:18px ;
		display: block;
	}
	.promo_headline p:after{
		content: ' не бояться сцены и получать удовольствие от музыки';
	}
	.trial_button{
		display: none;
	}
}
